*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Electrolize', sans-serif;
    color: white;
}

h2{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 36px;
    /* text-shadow: 2px 2px #7e7b7bb2; */
}
@media only screen and (max-width: 991px){
    h2{
        text-align: center;
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px){
    h2{
        text-align: center;
        font-size: 20px;
    }
}
@media only screen and (max-width: 575px){
    h2{
        text-align: center;
        font-size: 15px;
    }
}
.music-player {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}
@media only screen and (max-width: 991px){
    .music-player {
        height: 100vh;
    }
}
@media only screen and (max-width: 575px){
    .music-player {
        height: 100vh;
    }
}
.player-title{
    font-size: 2rem;
    font-weight: bold;
}

.container-main {
    position: relative;
    width: 35%;
    height: 80%;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media only screen and (max-width: 991px){
    .container-main{
        width: 60%;
        height: 80%;
    }
}
@media only screen and (max-width: 575px){
    .container-main{
        width: 80%;
        height: 80%;
    }
}

/* DETAIL */
.music-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}
@media only screen and (max-width: 991px){
    .music-detail{
        margin-bottom: 20px;
    }
}

.now-playing {
    font-size: 1rem;
}

.track-art {
    margin: 25px;
    width: 150px;
    height: 150px;
    /* border: 1px solid #fff; */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
   
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
    /* border-radius: 190px; */
}

.track-name {
    font-size: 1.5rem;
    white-space: nowrap;
    width: 400px;
    max-width: 400px;
    overflow: hidden;
}
.track-artist {
    margin-top: 5px;
    font-size: 1rem;
}
@media only screen and (max-width: 991px){
    .track-name {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 575px){
    .track-name {
        font-size: 1.0rem;
    }
    .track-artist {
        margin-top: 3px;
        font-size: 0.8rem;
    }
}

/* SLIDER/ SEEKER */
.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hide the seeker at default */
.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    /* background-color: #83a9ff; */
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    border: 1px solid transparent;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px;
}
/* adjust the UI of seeker */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid #3774ff;
    cursor: pointer;
    border-radius: 50%;
}
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1;
    cursor: pointer;
}
/* adjust width of seeker */
.seek_slider {
    width: 70%;
}
.volume_slider {
    width: 50%;
}
/* adding padding for duration & music */
.current-time,
.total-duration {
    padding: 10px;
}
.voldown,
.volup {
    padding: 5px;
}
@media only screen and (max-width: 575px){
    .seek_slider {
        width: 60%;
    }
    .volume_slider {
        width: 40%;
    }
    .current-time,
    .total-duration {
        padding: 5px;
    }
    .voldown,
    .volup {
        padding: 2px;
    }
}
/* BUTTONS */
#playlist {
    position: absolute;
    /* top: 30%; */
    top: 100%;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 20px 30px;
    border-radius: 5px 5px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 1;
    display: block;
    overflow: auto;
    /* background-image: linear-gradient( 64.5deg,  rgb(223, 82, 157) 14.7%, rgb(83, 92, 211) 88.7% ) !important; */
    display: none;
    transition: all .5s;
    /* display: block; */
}
/* Scroll Bar */
#playlist::-webkit-scrollbar {
    width: 3px;
}
#playlist::-webkit-scrollbar-thumb {
    background-image: linear-gradient( 64.5deg,  rgb(223, 82, 157) 14.7%, rgb(83, 92, 211) 88.7% ) !important;
    border-radius: 10px;
}
#playlist::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}


.playlist-toogle{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    border: 2px solid #f1f1f1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-top-left-radius: 1px;
    border-bottom-right-radius: 1px; */
    opacity: .5;
    cursor: pointer;
    transition: all .3s linear;
    box-shadow: rgba(85, 43, 87, 0.75) 5px 1px 20px;
}
.playlist-toogle:hover,
.playlist-toogle.active{
    border: 2px solid rgba(14, 3, 15, 0.599);
    color: #f1f1f1;
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(245,116,185,1) 0px 8px 24px, rgba(89,97,223,1) 0px 16px 48px;
    opacity: .8;
    cursor: pointer;
}
@media only screen and (max-width: 991px){
    #playlist {
        /* top: 24%; */
        top: 100%;
        height: 75%;
        padding: 10px 20px;
    }
    .playlist-toogle {
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}
@media only screen and (max-width: 575px){
    #playlist {
        /* top: 30%; */
        top: 100%;
        height: 75%;
        padding: 5px 10px;
    }
}

#control-buttons {
    align-items: center;
    margin: 30px 0;
    padding: 0 20px;
    transition: all .5s;
    width: 80%;
}
@media only screen and (max-width: 991){
    #control-buttons {
        width: 90%;
    }
}
@media only screen and (max-width: 575px){
    #control-buttons {
        width: 100%;
    }
}

.random-track i,
.repeat-track i{
    font-size: 1.2rem;
}

.playpause-track i{
    font-size: 4rem;
}

@media only screen and (max-width: 575px){
    .random-track i,
    .repeat-track i{
        font-size: 1.1rem;
    } 
    .playpause-track i{
        font-size: 2.8rem;
    }
}

/* opacity 80% default */
.random-track,
.repeat-track,
.playpause-track,
.next-track,
.prev-track {
    /* padding: 25px; */
    opacity: 0.8;
    transition: opacity 0.5s;
}
/* mouse pointer hover */
.random-track i,
.repeat-track i,
.playpause-track i,
.next-track i,
.prev-track i {
    cursor: pointer;
}
/* hover opacity 100% */
.random-track:hover,
.repeat-track:hover,
.playpause-track:hover,
.next-track:hover,
.prev-track:hover {
    opacity: 1;
}
/* button state */
.active {
    color: rgba(14, 3, 15, 0.699);
}

.playlist-song{
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 5px 0;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media only screen and (max-width: 575px){
    .playlist-song{
        padding: 2px 5px;
    }
}
/* dùng .active sau class nếu muốn thêm class active trong class */
.playlist-song.active{
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    color: #f1f1f1;
}

.playlist-thumb{
    width: 50px;
    height: 50px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: rgba(37, 37, 37, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.playlist-body{
    margin: 0 20px;  
    overflow: hidden;
}
@media only screen and (max-width: 575px){
    .playlist-body{
        width: 180px;
        max-width: 180px;
    }
}

.playlist-body .playlist-title{
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    white-space: nowrap;
}
@media only screen and (max-width: 575px){
    .playlist-body .playlist-title{
        font-size: 12px;
        font-weight: 500;
    }
}

.playlist-body .playlist-author{
    font-size: 12px;
    font-weight: 300;
}

.playlist-option{
    position: fixed;
    right: 7%;
    font-size: 16px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border: 2px solid #f1f1f1;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .3;
    cursor: pointer;
    transition: all .3s linear;
    box-shadow: rgba(85, 43, 87, 0.25) 5px 1px 20px;
}
@media only screen and (max-width: 991px){
    .playlist-option{
        right: 8%;
    }
}
@media only screen and (max-width: 575px){
    .playlist-option{
        right: 5%;
        font-size: 14px;
        width: 26px;
        height: 26px;
        line-height: 24px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.playlist-option:hover{
    border: 2px solid rgba(14, 3, 15, 0.599);
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(245,116,185,1) 0px 8px 24px, rgba(89,97,223,1) 0px 16px 48px;
    opacity: 1;
    cursor: pointer;
}

/* Marquee
.floatingTitle { 
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
  } 
  .floatingTitle h3 {
    width: 100%;
    display: flex;
    white-space: nowrap;
    position: relative;
    animation: floating linear 10s infinite;
    
  } 
  @keyframes floating {
    0% {text-indent: 180%;}
    100% {text-indent: -200%;}
  }
  .floatingTitle:hover h3 {
    animation-play-state: paused;
  } */


  /* ANIMATION CONTROLLER */
  /* phần music info bên trên (tên, hình CD, now playing) */
.music-detail.playlist-state{
    animation: titleFadeDownPC linear 3s forwards;
}
@keyframes titleFadeDownPC {
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(30%);
    }
}
@media only screen and (max-width: 991px){
    .music-detail.playlist-state{
        animation: titleFadeDownTablet linear 3s forwards;
    }
}
@keyframes titleFadeDownTablet {
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(30%);
    }
}
@media only screen and (max-width: 575px){
    .music-detail.playlist-state{
        animation: titleFadeDownMobile linear 3s forwards;
    }
}

@keyframes titleFadeDownMobile {
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(17%);
    }
}

/* phần nút controller */
#control-buttons.playlist-state {
    animation: buttonFadeUpPC linear 3s forwards;
}
@keyframes buttonFadeUpPC {
    50% {
        transform: translateY(-300%);
        width: 70%;
    }
    100% {
        transform: translateY(-600%);
        width: 60%;
    }
}
@media only screen and (max-width: 991px){
    #control-buttons.playlist-state {
        animation: buttonFadeUpTablet linear 3s forwards;
    }
}
@keyframes buttonFadeUpTablet {
    50% {
        transform: translateY(-310%);
    }
    100% {
        transform: translateY(-620%);
    }
}
@media only screen and (max-width: 575px){
    #control-buttons.playlist-state {
        animation: buttonFadeUpMobile linear 3s forwards;
    }
}
@keyframes buttonFadeUpMobile {
    50% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(-850%);
    }
}

/* phần playtlist dưới cùng */
#playlist.playlist-state {
    display: block;
    opacity: .2;
    animation: playlistFadeUp linear 3s forwards;
}
@keyframes playlistFadeUp {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}


/* WAVE STROKE EFFECT */
.loader {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .stroke{
    background: #f1f1f1;
    height: 100%;
    width: 5px;
    border-radius: 50px;
    margin: 0 5px;
    animation: rythm 2.0s linear infinite;
    transition: all 1.2s ease-out;
}

@keyframes rythm{
    50%{
        height: 20%;
        background: #ffffff;
    }
    100%{
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}
.stroke:nth-child(2) {
    animation-delay: 0.3s;
}
.stroke:nth-child(3) {
    animation-delay: 0.6s;
}
.stroke:nth-child(4) {
    animation-delay: 0.9s;
}
.stroke:nth-child(5) {
    animation-delay: 1.2s;
}
.stroke:nth-child(6) {
    animation-delay: 1.5s;
}
.stroke:nth-child(7) {
    animation-delay: 1.8s;
}
.stroke:nth-child(8) {
    animation-delay: 2.1s;
}
.stroke:nth-child(9) {
    animation-delay: 2.4s;
}
.stroke:nth-child(10) {
    animation-delay: 2.7s;
}
.stroke:nth-child(11) {
    animation-delay: 3.0s;
}
.stroke:nth-child(12) {
    animation-delay: 2.7s;
}
.stroke:nth-child(13) {
    animation-delay: 2.4s;
}
.stroke:nth-child(14) {
    animation-delay: 2.1s;
}
.stroke:nth-child(15) {
    animation-delay: 1.8s;
}
.stroke:nth-child(16) {
    animation-delay: 1.5s;
}
.stroke:nth-child(17) {
    animation-delay: 1.2s;
}
.stroke:nth-child(18) {
    animation-delay: 0.9s;
}
.stroke:nth-child(19) {
    animation-delay: 0.6s;
}
.stroke:nth-child(20) {
    animation-delay: 0.3s;
}
.stroke:nth-child(21) {
    animation-delay: 0s;
}